# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
transformers
requests

# image processing
Python-IO
Pillow

# API
gcsfs
google-cloud-storage
mlflow
fastapi
uvicorn

# utilities
six>=1.14
joblib
memoized-property
termcolor
